
<div class="row">
  <div class="row">
    <div class="large-9 columns" role="content">
      <article>

        <h4> MP4 Video Example using Live Singapore MP4</h4>
        <div class="large-12 columns">
          <p>LIVE Singapore! provides people with access to a range of useful real-time information about their city by developing an open platform for the collection, elaboration and distribution of real-time data that reflect urban activity. Giving people visual and tangible access to real-time information about their city enables them to take their decisions more in sync with their environment, with what is actually happening around them.</p>
        </div>
        <br>
        <h3>Live Singapore !</h3>
        <video width="410" height="250" controls>
          <source src="live-singapore.mp4" type="video/mp4">
        </video>
        <br>
        <br>
        <p>This platform is not aimed at one single application, instead it rather resembles an ecosystem and a toolbox for real-time data that describe urban dynamics. Building on this platform, a community of developers can build multiple applications in a joint effort which harnesses the creative potential of citizens in extracting new value from real-time data.</p>
        <div class="large-12 columns">
        </div>
      </article>

    </div>
  </div>
</div>