
<div class="row">


  <div class="large-9 columns" role="content">

    <article>

      <h3>Hello and welcome</h3>
      <h8>By <a href="#">John Smith</a> on August 12, 2012.</h8>

      <div class="row">
        <div class="large-12 columns">
          <p>LIVE Singapore! provides people with access to a range of useful real-time information about their city by developing an open platform for the collection, elaboration and distribution of real-time data that reflect urban activity. Giving people visual and tangible access to real-time information about their city enables them to take their decisions more in sync with their environment, with what is actually happening around them.</p>
        </div>
        <div class="large-9 columns" role="video">
          <video width="410" height="250" controls>
            <source src="live-singapore.mp4" type="video/mp4">
          </video>
        </div>
      </div>
  </article>

</div>
</div>












